body {
	 background-image: url(http://lorempixel.com/1300/1300/);
}

.selectedX {
	background-color: #FFCCFF;
}

.selectedO {
	background-color: #FFFFCC;
}

h3 {
	font-family: avenir;
	text-align: center;
	color: grey;
}

h1 {
	font-family: avenir;
	text-align: center;
}

html, body {
	margin: ;
}

div.breaker {
	height: 20px;
}
div.col-xs-4 {
	border: 5px solid white;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: center;
	padding: 10px;
	font-family: avenir;
	font-size: 50px;
	background-color: transparent;/*#99FFCC*/
	color: grey;
	font-weight: 15px;

}
div.container-grid {
	width: 307px;
	position: center;
	margin: auto;
	border: 4px solid white
}

div.row {
	margin-left: 0px;
}

.button {
	font-family: avenir;
	color: grey;
	font-weight: 15px;
}

/*.row{
	margin=50px
}

.col-md-4{
	border.color: #99FFCC;
	border.width: 10px;
}
.glyphicon{
	border.color: #99FFCC;
}*/